.counter {
  display: inline-flex;
  align-items: center;
  user-select: none;

  &__btn {
    display: inline-block;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 0;
    border: 1px solid #eee;
    color: var(--accent);
    background-color: var(--bg);
    border-radius: 6px;
    transition-property: color, border-color, background-color;
    transition-duration: 200ms;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
      border-color: var(--accent);
    }

    &--disabled {
      pointer-events: none;
      border-color: transparent;
      color: #eee;
    }
  }

  &__value {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    min-width: 40px;
    text-align: center;
  }
}
