.footer {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  background-image: linear-gradient(#ddd, #ddd);
  background-size: 400px 1px;
  background-repeat: no-repeat;
  background-position: center top;

  &__text {
    color: #ddd;
  }
}
