.appartaments {
  &__head {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__body {
    @media screen and (min-width: 540px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 20px;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
